body {
    background-color: #ffccff;
}

div.outer-box {
    margin: auto;
    margin-top: 1%;
    max-width: 90%;
    /*    text-align: center;*/
    display: block;
    border-radius: 20px;
}

ul li a {
    color: lightslategray;
}

ul li a:hover {
    color: blue;
}

.search {
    margin: auto;
    width: 20rem;
    padding: 15px;
    border-radius: 17px;
    border-style: none;
    background-color: #F0F0F0;
}

div.sidemenu {
    /*    text-align: center;*/
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: lightslategray;
    padding: 16px;
    text-decoration: none;
    text-align: center;
}

.sidebar a.active {
    color: black;

}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}
